.body-mel{
    
    width: 100%;
    height: 100%;
    padding-left:40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.content{
    margin-top: 20px;
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    .filters{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 40px;
        height: 10%;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 40px;
        .who-are{
            display: flex;
            flex-direction: column;
            .flex{
                display: flex;
                flex-direction: row;
                align-items: center; 
                
            }
        }
    
        .where-are{
            display: flex;
            flex-direction: column;
            .flex{
                display: flex;
                flex-direction: row;
                align-items: center; 
                
            }
        }
    
        .what{
            display: flex;
            flex-direction: column;
            .flex{
                display: flex;
                flex-direction: row;
                align-items: center; 
                
            }
        
        }
    }

    .not-filter{
        width: 100%;
        min-height: 350px;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .img{
            opacity: 0.5; 
            margin-top: 10px; 
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            
        }
    }
    .filter-on{
        padding: 30px;
        
        .important{
            background-color: #f1f1f1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 1px;
            .color-i{
                background-color: red;
                width: 10px;
                height: 10px;
                border-radius: 100px; 
                margin-right: 10px;
            }
            .numOne{
                background-color: #c0504d;
            }
            
            .numTwo{
                background-color: #c0504d;
            }
            .numTre{
                background-color: #e6b8b7;
            }
            
            .numFour{
                background-color: #d6d6d6;
            }
        }
    }
}

:host ::ng-deep .p-dropdown-items-wrapper{
 max-width: 340px;
}

:host ::ng-deep  .p-dropdown .p-dropdown-label.p-placeholder{
    color: white;
}

:host ::ng-deep  .p-inputtext{
    color: white;
}

.dowloand-tools{
    padding: 30px;
    .important{
        background-color: #f1f1f1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1px;
        .color-i{
            background-color: red;
            width: 10px;
            height: 10px;
            border-radius: 100px; 
            margin-right: 10px;
        }
        .numOne{
            background-color: #c0504d;
        }
        
        .numTwo{
            background-color: #c0504d;
        }
        .numTre{
            background-color: #e6b8b7;
        }
        
        .numFour{
            background-color: #d6d6d6;
        }
    }
}
