/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* :not(.pi, .material-symbols-outlined, .material-symbols-rounded) {
  font-family: 'Quicksand', sans-serif !important;
}

// Delete margin from hns,p,div
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
body {
  margin: 0;
}

html {
  font-size: 14px;
}

.p-dropdown-item.p-ripple {
  white-space: normal;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 6px 8px !important;
}

.p-datatable .p-datatable-tbody > tr {
  margin-bottom: 4px !important;
}

.p-checkbox .p-checkbox-box {
  width: 18px;
  height: 18px;
}

.p-dropdown-items-wrapper {
  max-height: 428px !important;
  // height: fit-content;
  // max-height: calc(100vh - 200px) !important;
  overflow-y: auto;

  @media (max-height: 840px) {
    max-height: 200px !important;
  }
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.5rem 1rem;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0;
}

.p-button {
  padding: 8px 10px !important;
}

.p-button-secondary2 {
  background-color: #fff !important;
  color: #495057 !important;
  border-color: #ccc !important;
  font-size: 12px;

  &:hover {
    background-color: #e6e6e6 !important;
  }
}
