.messageResult {
    font-weight: lighter;
    color: #969696;
}
b,
strong {
    font-weight: 700;
}
.docResults {
    .docRow {
        margin: 0.25em 0 !important;
        background-color: #f1f1f1;
        border: 1px solid #efefef;
        border-radius: 2px;
        // padding: 6px 8px 6px 8px;
        // margin-bottom: 4px;
        list-style: none;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        // position: relative;
        label {
            margin-bottom: 0;
        }
    }
    .download {
        margin: 10px 0;
    }
    .input-group-prepend-txt {
        padding: 5px 0;
        color: #7dc35c;
        margin: 0 10px;
        .importanceLevel {
            border-radius: 6px;
            padding: 0px 5px;
            font-size: 12px;
            text-align: center;
            width: 95px;
            margin: 3px;
            position: absolute;
            right: 7px;
            top: 5px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
            color: #fff;
        }
       
    }
}
