.sideMenu {
  height: 100%;
  width: 330px;
  background-color: #059899;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;

  @media (max-width: 1024px) {
    display: none;
  }

  &__imgContainer {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  &__buttons {
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    max-width: 250px;
    width: 100%;

    &--item {
      width: 100%;
      background-color: #f2971f;
      border: none;
      padding: 0.75rem 1.25rem !important;
      font-size: 16px;
      font-weight: 600 !important;

      &:hover {
        background-color: #bf7718 !important;
        transition: 0.5s;
      }

      &:focus {
        box-shadow: none;
      }
    }

    &__general {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      max-width: 250px;
      width: 100%;
    }
  }
}

.topMenu {
  display: flex;
  width: 100%;

  @media (min-width: 1024px) {
    display: none;
  }
}

.selected {
  background-color: #bf7718;
  color: #fff;
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: center;
}

.veryImportant {
  background-color: #019875;
  font-weight: bold;
  color: white;
}

.important {
  background-color: #00aead;
  font-weight: bold;
  color: white;
}
.useful {
  background-color: #72cc50;
  font-weight: bold;
}

.optional {
  background-color: #c2c2c2;
  font-weight: bold;
}

:host ::ng-deep .p-button-icon {
  font-size: 16px;
}

:host ::ng-deep .p-button-label {
  font-weight: 500;
}
