<div class="sideMenu">
  <div class="sideMenu__imgContainer">
    <img src="../../../../assets/svg/file_searching.svg" alt="SP Logo" width="70%" />
  </div>

  <div class="sideMenu__buttons">
    <div class="sideMenu__buttons__search">
      <h1 class="sideMenu__buttons__search--text">Search by tool name</h1>
      <p-autoComplete
        appendTo="body"
        [(ngModel)]="this._servicesVariables.selectedProducts"
        [suggestions]="filteredProducts"
        (ngModelChange)="onProductChange($event)"
        (completeMethod)="filterProducts($event)"
        [multiple]="true"
        [forceSelection]="true"
        field="name"
        styleClass="searchTool"
        [style]="{ width: ' 250px ', 'max-height': '95px' }">
      </p-autoComplete>
    </div>

    <div class="sideMenu__buttons__general">
      <button
        pButton
        *ngFor="let sideLink of this.sidebarLinks"
        [label]="sideLink.name"
        [routerLink]="[sideLink.url]"
        routerLinkActive="selected"
        [icon]="sideLink.icon"
        class="sideMenu__buttons--item"></button>

      <button
        pButton
        label="Overview"
        icon="pi pi-table"
        class="sideMenu__buttons--item"
        (click)="showDialog()"></button>
    </div>

    <button
      pButton
      label="Manage Tool"
      routerLink="/aiccra/manage-tool"
      routerLinkActive="selected"
      icon="pi pi-user-edit"
      class="sideMenu__buttons--item"></button>
  </div>
</div>

<p-menubar [model]="menuItems" class="topMenu" [style]="{ width: '100%' }"></p-menubar>

<p-dialog
  header="Overview"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [draggable]="false"
  [resizable]="false">
  <div class="overview">
    <div class="overviewBody">
      <p-table
        #dt2
        [value]="toolsData"
        styleClass="p-datatable-sm overview__table p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '65vw' }"
        [loading]="loading"
        [globalFilterFields]="['id', 'name', 'cate_name']">
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Search Tool" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th colspan="2" id="empty__space"></th>
            <th colspan="3" *ngFor="let header of overviewFirstRow" [id]="header.id">
              {{ header.name }}
            </th>
          </tr>
          <tr>
            <th *ngFor="let header of overviewSecondRow" [id]="header.id">
              {{ header.name }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sale let-cc>
          <tr>
            <td>{{ sale.id }}</td>
            <td>{{ sale.name }}</td>
            <td class="{{ getImportants('R', 'Design', sale.resources, sale.id).styleColor }}">
              {{ getImportants('R', 'Design', sale.resources, sale.id).important }}
            </td>
            <td class="{{ getImportants('TS', 'Design', sale.resources, sale.id).styleColor }}">
              {{ getImportants('TS', 'Design', sale.resources, sale.id).important }}
            </td>
            <td class="{{ getImportants('A', 'Design', sale.resources, sale.id).styleColor }}">
              {{ getImportants('A', 'Design', sale.resources, sale.id).important }}
            </td>
            <td
              class="{{
                getImportants('R', 'Implementation', sale.resources, sale.id).styleColor
              }}">
              {{ getImportants('R', 'Implementation', sale.resources, sale.id).important }}
            </td>
            <td
              class="{{
                getImportants('TS', 'Implementation', sale.resources, sale.id).styleColor
              }}">
              {{ getImportants('TS', 'Implementation', sale.resources, sale.id).important }}
            </td>
            <td
              class="{{
                getImportants('A', 'Implementation', sale.resources, sale.id).styleColor
              }}">
              {{ getImportants('A', 'Implementation', sale.resources, sale.id).important }}
            </td>
            <td
              class="{{
                getImportants('R', 'Monitoring and Evaluation', sale.resources, sale.id).styleColor
              }}">
              {{
                getImportants('R', 'Monitoring and Evaluation', sale.resources, sale.id).important
              }}
            </td>
            <td
              class="{{
                getImportants('TS', 'Monitoring and Evaluation', sale.resources, sale.id).styleColor
              }}">
              {{
                getImportants('TS', 'Monitoring and Evaluation', sale.resources, sale.id).important
              }}
            </td>
            <td
              class="{{
                getImportants('A', 'Monitoring and Evaluation', sale.resources, sale.id).styleColor
              }}">
              {{
                getImportants('A', 'Monitoring and Evaluation', sale.resources, sale.id).important
              }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-dialog>
