.melsp {
  max-width: 960px;
  margin: 0 auto;

  &__content {
    padding: 0 15px;
  }
}

.selected {
  background-color: #d47978;
  color: white;
  border-radius: 5px;
}

.ml-2 {
  margin-left: 0.5rem;
}
