<div class="melsp">
  <div class="menu-melsp">
    <p-menubar [model]="items">
      <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else urlRef">
          <a [routerLink]="item.route" class="p-menuitem-link" routerLinkActive="selected">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #urlRef>
          <a *ngIf="item.url" [href]="item.url" class="p-menuitem-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-template>
      </ng-template>
    </p-menubar>
  </div>

  <div class="melsp__content">
    <div class="melsp__images">
      <img src="../../assets/cgiar-mel.png" alt="" class="melsp__images--logo" />
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
