/SupportPacks-back/node_modules
/SupportPacks-back/.env
/SupportPacks-back/v2_20200904_sp_database.sql
/no-upload.txt
/SupportPacks-back/nodemon.json
data/General_Guidance_on_Developing_Indicators (5).docx
supportpacks-front/projects/dmsp/src/environments/environment.prod.ts
supportpacks-front/projects/dmsp/src/environments/environment.prod.ts
supportpacks-front/projects/dmsp/src/environments/environment.prod.ts
supportpacks-front/projects/melsp/src/environments/environment.ts
data/0_Monitoring_Evaluation_And_Learning_Basics/Template_M-E_Operationalization-Plan.docx
data/1_Theory_Of_Change_And_Impact_Pathways/Impact_Pathways_template_blank.pptx
data/1_Theory_Of_Change_And_Impact_Pathways/Impact_Pathways_template_example.pptx
data/2_Indicators/General_Guidance_on_Developing_Indicators.docx
data/4_Reflection_Mechanisms/Reflection_Workshop-Agenda-Example.docx
data/7_Monitoring_Evaluation_Learning_Tools/Overview-Network-Mapping_Tools-FP1.docx
data/7_Monitoring_Evaluation_Learning_Tools/Template-KASP_Survey_Example_PACCA.docx
data/7_Monitoring_Evaluation_Learning_Tools/Template_for_MSC_stories.docx
data/7_Monitoring_Evaluation_Learning_Tools/Template_Four_quadrants_mini-rapid_AAR.docx
data/7_Monitoring_Evaluation_Learning_Tools/Template_KASP.doc
data/7_Monitoring_Evaluation_Learning_Tools/Template_Meeting_Minutes.docx
data/7_Monitoring_Evaluation_Learning_Tools/Template_Participants-Attendance_List.docx
data/7_Monitoring_Evaluation_Learning_Tools/Template_Participants-Attendence_List.xlsx
data/9_Overall_References/XXMandE_tools_methods_approaches.pdf
data/Built-in_Evaluations-examples.doc
data/CCAFS-CRP_and_FP_Narrative-_Proposal_2017-2022_Excerpt_on_Learning_Platforms.pdf
data/CCAFS-full_proposal_Annexes_Excerpt_RBM-Section.pdf
data/CCAFS_full_proposal-Annexes_Excerpt_RBM.pdf
data/CIMMYT_Tools_for_MEL_Support_Pack/1.3.2.3LogicalFrameworkTemplate(3).docx
data/CIMMYT_Tools_for_MEL_Support_Pack/1.3.2.3LogicalFrameworkTemplateEdits(8).docx
data/CIMMYT_Tools_for_MEL_Support_Pack/1.3.2.4MEL-GuidelinesfordevelopingaprojectTOCedit(2).docx
data/CIMMYT_Tools_for_MEL_Support_Pack/2.3.4MEL-EvaluationPlanTemplateEdit(4).docx
data/CIMMYT_Tools_for_MEL_Support_Pack/2.3.5MEL-LearningPlanTemplateEdit.docx
data/CIMMYT_Tools_for_MEL_Support_Pack/2.3.6PerformanceMonitoringPlan(1).docx
data/CIMMYT_Tools_for_MEL_Support_Pack/5.5.1AfterActionReviewGuidance-formatEdit.docx
data/CIMMYT_Tools_for_MEL_Support_Pack/GeneralGuidanceonDevelopingIndicators.docx
data/CIMMYT_Tools_for_MEL_Support_Pack/GuidingQuestionsforAssumptions(1).docx
data/CIMMYT_Tools_for_MEL_Support_Pack/GuidingQuestionstoTestTheoriesofChangeandAssumptions.docx
data/CPWF_Project_Closure_Report_format_annexes.doc
data/Feedback-questionnaire-Example-ScenariosWSHonduras.docx
data/FP4_EA_ME_framework-DRAFT_ts.docx
data/FP4_EA_PACCA_M&E_Guide-DRAFT_2014_08.docx
data/Good-Practice-Study.docx
data/Good-Practice-Study.pdf
data/KASP_Scenarios_Honduras_workshop.doc
data/M&E_Support_Pack.docx
data/New_Text_Document.txt
data/PACCA_M&E_Guide-DRAFT.docx
data/Pilot_project__Scenarios_LAM_Workshop_Questionnaire_dr_ts_CS.docx
data/Post-event_evaluation-Example-UNFCCC.docx
data/Post-event_survey-Example-JournalistsMeeting.docx
data/Survey_afterWebinar-Example.docx
data/Template_Training_Needs_Assessment.doc
data/WS_Preparation_Example_draft_14_01.docx
data/XXXimportant2005_ipdet_annual_evaluation.pdf
public/
