<div class="row">
    <fa-icon [icon]="['fas', 'chevron-left']" class="fa-icon" size="2x" routerLink="/home" routerLinkActive="active"></fa-icon>
    <h2 class="col-8">M&E Guidelines</h2>
</div>
<div class="grayBox form-group">
    <span class="badge very-important">4</span> Very Important |
    <span class="badge important">3</span> Important |
    <span class="badge useful">2</span> Useful |
    <span class="badge optional">1</span> Optional
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">
                <form>
                    <div class="form-group form-inline align-middle" style="margin: 0;">
                        Search: <input class="form-control ml-2" style="width: 80%;" type="text" [formControl]="filter" />
                    </div>
                </form>
            </th>
            <th colspan="3" class="text-center align-middle" *ngFor="let stage of stages">
                <small>{{ stage.name }}</small>
            </th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Guideline</th>
            <th *ngIf="currentUser">
                Active
            </th>
            <ng-container *ngFor="let stage of stages">
                <th title="{{ role.name }}" class="text-center align-middle" *ngFor="let role of roles">
                    <small>{{ role.acronym }}</small>
                </th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let guide of guidelines$ | async; index as i">
            <th scope="row" class="align-middle">{{guide.code}}</th>
            <td class="col-6 align-middle"  >
                <ngb-highlight class="align-middle" [result]="guide.name" [term]="filter.value"></ngb-highlight>
            </td>
            <td class="text-center align-middle" *ngIf="currentUser" style="border: 2px solid #dee2e6">
                <!-- {{guide.active}} -->
                <a class="btn" (click)="activeGuide(guide)">
                    <fa-icon icon="" *ngIf="guide.active" [icon]="['fas', 'toggle-on']" size="2x" [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                    <fa-icon icon="" *ngIf="!guide.active" [icon]="['fas', 'toggle-off']" size="2x" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                </a>
            </td>
            <ng-container *ngFor="let stage of stages">
                <td title="{{ role.name }}-{{ stage.name }}" style="border: 2px solid #dee2e6"
                    class="text-center col align-middle level-{{parseRolByStage(guide, role, stage)}} "
                    *ngFor="let role of roles">
                    {{parseRolByStage(guide, role, stage)}}
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>

<ngx-spinner></ngx-spinner>