.term-condition{
    
    margin: 1em 2em;
    height: 100%;
}

.term-title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.content-term{
    padding: 0 4em;
}

.content-finish{
    padding: 0 4em;
    margin-bottom: 100px;
}

.form-save-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    .one-form{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }
    .two-form{
        width: 100%;
        margin-top: 10px;
        
    }
}