.term-condition{
    
    margin: 1em 2em;
    height: 100%;
}

.term-title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.content-term{
    padding: 0 4em;
}

.content-finish{
    padding: 0 4em;
    margin-bottom: 100px;
}
