/* You can add global styles to this file, and also import other style files */

@import './assets/scss/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// Variables
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

p{
    font-weight: 500;
}

.md-shadow {
    box-shadow: 0px 2px 9px 0px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}