<p-table
  #dt2
  [value]="tableData"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '40rem' }"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="tableDataLoading"
  [globalFilterFields]="['id', 'name', 'category_name']">
  <ng-template pTemplate="caption">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
        placeholder="Search Tool" />
    </span>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th id="id" style="width: 5%">ID</th>
      <th id="name" style="width: 45%">Name</th>
      <th id="category" style="width: 30%">Category</th>
      <th id="actions" style="width: 18%">Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-tool>
    <tr style="height: 70px">
      <td>{{ tool.id }}</td>
      <td>{{ tool.name }}</td>
      <td>{{ tool.category_name }}</td>
      <td style="display: flex; flex-direction: row; align-items: center; gap: 5px; height: 70px">
        @if (activeItem.id === '0' || activeItem.id === '2') {
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text p-button-secondary2"
            (click)="showEditDialog(tool)"></button>
        }

        @if (activeItem.id === '0' || activeItem.id === '1') {
          <button
            pButton
            pRipple
            type="button"
            [icon]="activeItem.id === '0' ? 'pi pi-trash' : 'pi pi-check-circle'"
            class="p-button-rounded p-button-text p-button-secondary2"
            (click)="showDialogDesactive(tool)"></button>
        }

        @if (activeItem.id === '2') {
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check-square"
            class="p-button-rounded p-button-text p-button-secondary2"
            (click)="showDialogAccepted(tool)"></button>

          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-text"
            (click)="showDenyRequest(tool)"></button>
        }
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">No tools found.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Edit Tool"
  [(visible)]="EditModalOpen"
  [modal]="true"
  [draggable]="false"
  [breakpoints]="{ '2400px': '900px', '1400px': '75vw', '575px': '90vw' }"
  [resizable]="false"
  (onHide)="onCloseEditModal()">
  @if (app_id === '3' && EditModalOpen) {
    @if (step1) {
      <div class="formRequest__mainForm">
        <h3 class="formRequest__mainForm--title">Basic Information</h3>
        <div class="formRequest__mainForm__content" style="flex-direction: column">
          <div class="formRequest__mainForm__content--input">
            <b>Tool name</b>
            <input
              pInputText
              id="tool_name"
              aria-describedby="username-help"
              [(ngModel)]="informationEdit.name" />
          </div>
          <div class="formRequest__mainForm__content--input">
            <b>Description</b>
            <textarea
              style="resize: none"
              id="description"
              rows="5"
              pInputTextarea
              [(ngModel)]="informationEdit.description"></textarea>
          </div>
          <div class="formRequest__mainForm__content--twoColumns">
            <div class="formRequest__mainForm__content--input">
              <b>Link</b>
              <input
                pInputText
                id="link"
                aria-describedby="username-help"
                [(ngModel)]="informationEdit.source" />
            </div>
            <div class="formRequest__mainForm__content--input">
              <b>Estimated time to implement (excl. training)</b>
              <input
                pInputText
                id="eti"
                aria-describedby="username-help"
                [(ngModel)]="informationEdit.estimated_time" />
            </div>
          </div>
          <div class="formRequest__mainForm__content--twoColumns">
            <div class="formRequest__mainForm__content--input">
              <b>Does the tool integrate gender?</b>
              <div class="formRequest__mainForm__content--radioContainer">
                <div class="formRequest__mainForm__content--radio">
                  <p-radioButton
                    name="Yes"
                    value="Yes"
                    [(ngModel)]="informationEdit.integrates_gender"
                    inputId="integratedGenderYes"></p-radioButton>
                  <label for="integratedGenderYes">Yes</label>
                </div>
                <div class="formRequest__mainForm__content--radio">
                  <p-radioButton
                    name="No"
                    value="No"
                    [(ngModel)]="informationEdit.integrates_gender"
                    inputId="integratedGenderNo"></p-radioButton>
                  <label for="integratedGenderNo">No</label>
                </div>
              </div>
            </div>
            <div class="formRequest__mainForm__content--input">
              <b>Can this tool be tested online?</b>
              <div class="formRequest__mainForm__content--radioContainer">
                <div class="formRequest__mainForm__content--radio">
                  <p-radioButton
                    name="Yess"
                    value="Yes"
                    [(ngModel)]="informationEdit.is_tested_online"
                    inputId="integratedTestedOnlineYes"></p-radioButton>
                  <label for="integratedTestedOnlineYes">Yes</label>
                </div>
                <div class="formRequest__mainForm__content--radio">
                  <p-radioButton
                    name="Noo"
                    value="No"
                    [(ngModel)]="informationEdit.is_tested_online"
                    inputId="integratedTestedOnlineNo"></p-radioButton>
                  <label for="integratedTestedOnlineNo">No</label>
                </div>
              </div>
            </div>
          </div>
          <div class="formRequest__mainForm__content--twoColumns">
            <div class="formRequest__mainForm__content--input">
              <b>Target Scale</b>
              <textarea
                style="resize: none"
                id="target_scale"
                rows="5"
                pInputTextarea
                [(ngModel)]="informationEdit.target_scale"></textarea>
            </div>
            <div class="formRequest__mainForm__content--input">
              <b>Who participates?</b>
              <textarea
                style="resize: none"
                id="who_participates"
                rows="5"
                pInputTextarea
                [(ngModel)]="informationEdit.participants"></textarea>
            </div>
          </div>
          <div class="formRequest__mainForm__content--twoColumns">
            <div class="formRequest__mainForm__content--input">
              <b>Methods used</b>
              <textarea
                style="resize: none"
                id="methods"
                rows="5"
                pInputTextarea
                [(ngModel)]="informationEdit.methods"></textarea>
            </div>
            <div class="formRequest__mainForm__content--input">
              <b>Types of input data/information</b>
              <textarea
                style="resize: none"
                id="input_types"
                rows="5"
                pInputTextarea
                [(ngModel)]="informationEdit.input_types"></textarea>
            </div>
          </div>
          <div class="formRequest__mainForm__content--input">
            <b>Limitations</b>
            <textarea
              style="resize: none"
              id="limitations"
              rows="5"
              pInputTextarea
              [(ngModel)]="informationEdit.limitations"></textarea>
          </div>
          <div class="formRequest__mainForm__content--input">
            <b>Strengths</b>
            <textarea
              style="resize: none"
              id="strengths"
              rows="5"
              pInputTextarea
              [(ngModel)]="informationEdit.strengths"></textarea>
          </div>
          <div class="formRequest__mainForm__content--twoColumns">
            <div class="formRequest__mainForm__content--input">
              <b>Expected output(s)</b>
              <textarea
                style="resize: none"
                id="expected_outputs"
                rows="5"
                cols="30"
                pInputTextarea
                [(ngModel)]="informationEdit.expected_outputs"></textarea>
            </div>
            <div class="formRequest__mainForm__content--input">
              <b>Required human resources</b>
              <textarea
                id="required_human_resources"
                style="resize: none"
                rows="5"
                cols="30"
                pInputTextarea
                [(ngModel)]="informationEdit.human_resources"></textarea>
            </div>
          </div>
          <div class="formRequest__mainForm__content--twoColumns">
            <div class="formRequest__mainForm__content--input">
              <b>Key reference person(s)</b>
              <textarea
                id="key_references"
                style="resize: none"
                rows="5"
                cols="30"
                pInputTextarea
                [(ngModel)]="informationEdit.key_references"></textarea>
            </div>
            <div class="formRequest__mainForm__content--input">
              <b>Thematic area</b>
              <p-dropdown
                [options]="thematicAreas"
                [(ngModel)]="informationEdit.category_id"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                optionValue="id"
                placeholder="Select a Thematic area">
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
    }

    @if (step2) {
      <div class="formRequest__mainForm">
        <h3 class="formRequest__mainForm--title">User Profile and Project Phase relevance</h3>
        <div
          class="formRequest__mainForm__content"
          style="flex-direction: column; align-items: flex-start">
          <div class="title-user-con">
            <h4>Researcher</h4>
          </div>
          <div
            class="formRequest__mainForm__content--threeColumns"
            style="background-color: none; border: none; padding: 0; flex-wrap: wrap">
            <div class="formRequest__mainForm__content--input">
              <h4>Design</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.R.Design"
                optionLabel="name"
                [showClear]="true"
                [style]="{ width: '100%' }"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  @if (informationEdit.R.Design) {
                    <div class="flex align-items-center gap-2">
                      <div>{{ informationEdit.R.Design.name }}</div>
                    </div>
                  }
                </ng-template>
              </p-dropdown>
            </div>
            <div class="formRequest__mainForm__content--input">
              <h4>Implementation</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.R.Implementation"
                optionLabel="name"
                [showClear]="true"
                [style]="{ width: '100%' }"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  @if (informationEdit.R.Implementation) {
                    <div class="flex align-items-center gap-2">
                      <div>{{ informationEdit.R.Implementation.name }}</div>
                    </div>
                  }
                </ng-template>
              </p-dropdown>
            </div>
            <div class="formRequest__mainForm__content--input">
              <h4>Monitoring and evaluations</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.R.MonitoringandEvaluation"
                optionLabel="name"
                [showClear]="true"
                [style]="{ width: '100%' }"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  @if (informationEdit.R.MonitoringandEvaluation) {
                    <div class="flex align-items-center gap-2">
                      <div>{{ informationEdit.R.MonitoringandEvaluation.name }}</div>
                    </div>
                  }
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        <div
          class="formRequest__mainForm__content"
          style="flex-direction: column; align-items: flex-start">
          <div class="title-user-con">
            <h4>Technical staff</h4>
          </div>
          <div
            class="formRequest__mainForm__content--threeColumns"
            style="background-color: none; border: none; padding: 0">
            <div class="formRequest__mainForm__content--input">
              <h4>Design</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.TS.Design"
                optionLabel="name"
                [showClear]="true"
                [style]="{ width: '100%' }"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  @if (informationEdit.TS.Design) {
                    <div class="flex align-items-center gap-2">
                      <div>{{ informationEdit.TS.Design.name }}</div>
                    </div>
                  }
                </ng-template>
              </p-dropdown>
            </div>
            <div class="formRequest__mainForm__content--input">
              <h4>Implementation</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.TS.Implementation"
                optionLabel="name"
                [showClear]="true"
                [style]="{ width: '100%' }"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  @if (informationEdit.TS.Implementation) {
                    <div class="flex align-items-center gap-2">
                      <div>{{ informationEdit.TS.Implementation.name }}</div>
                    </div>
                  }
                </ng-template>
              </p-dropdown>
            </div>
            <div class="formRequest__mainForm__content--input">
              <h4>Monitoring and evaluations</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.TS.MonitoringandEvaluation"
                optionLabel="name"
                [showClear]="true"
                [style]="{ width: '100%' }"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  @if (informationEdit.TS.MonitoringandEvaluation) {
                    <div class="flex align-items-center gap-2">
                      <div>{{ informationEdit.TS.MonitoringandEvaluation.name }}</div>
                    </div>
                  }
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        <div
          class="formRequest__mainForm__content"
          style="flex-direction: column; align-items: flex-start">
          <div class="title-user-con">
            <h4>Academia</h4>
          </div>
          <div
            class="formRequest__mainForm__content--threeColumns"
            style="background-color: none; border: none; padding: 0">
            <div class="formRequest__mainForm__content--input">
              <h4>Design</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.A.Design"
                optionLabel="name"
                [showClear]="true"
                [style]="{ width: '100%' }"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  @if (informationEdit.A.Design) {
                    <div class="flex align-items-center gap-2">
                      <div>{{ informationEdit.A.Design.name }}</div>
                    </div>
                  }
                </ng-template>
              </p-dropdown>
            </div>
            <div class="formRequest__mainForm__content--input">
              <h4>Implementation</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.A.Implementation"
                optionLabel="name"
                [showClear]="true"
                [style]="{ width: '100%' }"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  @if (informationEdit.A.Implementation) {
                    <div class="flex align-items-center gap-2">
                      <div>{{ informationEdit.A.Implementation.name }}</div>
                    </div>
                  }
                </ng-template>
              </p-dropdown>
            </div>
            <div class="formRequest__mainForm__content--input">
              <h4>Monitoring and evaluations</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.A.MonitoringandEvaluation"
                optionLabel="name"
                [showClear]="true"
                [style]="{ width: '100%' }"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  @if (informationEdit.A.MonitoringandEvaluation) {
                    <div class="flex align-items-center gap-2">
                      <div>{{ informationEdit.A.MonitoringandEvaluation.name }}</div>
                    </div>
                  }
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        @if (informationEdit?.resources.length > 0) {
          <div
            class="formRequest__mainForm__content"
            style="
              flex-direction: column;
              align-items: flex-start;
              background: none;
              border: none;
              padding: 0;
            ">
            <h3 class="formRequest__mainForm--title">Resources</h3>
            @for (item of informationEdit.resources; track item; let i = $index) {
              <div
                class="formRequest__mainForm__content"
                style="flex-direction: column; position: relative">
                <div class="formRequest__mainForm__content--input">
                  <b>Resource title</b>
                  <input
                    pInputText
                    id="resource_title"
                    autocomplete="off"
                    aria-describedby="username-help"
                    [(ngModel)]="item.name" />
                </div>
                <div class="formRequest__mainForm__content--twoColumns" style="margin-top: 1rem">
                  <div class="formRequest__mainForm__content--input">
                    <b>Link</b>
                    <input
                      pInputText
                      id="link2"
                      aria-describedby="username-help"
                      [(ngModel)]="item.source" />
                  </div>
                  <div class="formRequest__mainForm__content--input">
                    <h4>Category</h4>
                    <p-dropdown
                      [options]="categories"
                      [(ngModel)]="item.type"
                      [style]="{ width: '100%' }"
                      [virtualScroll]="true"
                      [virtualScrollItemSize]="38"
                      optionValue="name"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Select a Thematic area">
                    </p-dropdown>
                  </div>
                </div>
              </div>
            }
          </div>
        }
      </div>
    }

    <div class="formRequest__mainForm__steps">
      <button
        pButton
        label="1"
        rounded="true"
        class="formRequest__mainForm__steps--button"
        [ngStyle]="{ 'background-color': step1 ? '#f2971f' : '#ffebd2' }"
        (click)="button1Validations()"></button>
      <button
        pButton
        label="2"
        rounded="true"
        class="formRequest__mainForm__steps--button"
        [ngStyle]="{ 'background-color': step2 ? '#f2971f' : '#ffebd2' }"
        (click)="button2Validations()"></button>
      <button
        pButton
        type="button"
        label="Edit tool"
        class="formRequest__mainForm__steps--button"
        style="background-color: #f2971f"
        (click)="editTool()"></button>
    </div>
  }

  @if (app_id === '2' && EditModalOpen) {
    <div class="formRequest__mainForm">
      <h3 class="formRequest__mainForm--title">Basic Information</h3>
      <div class="formRequest__mainForm__content" style="flex-direction: column">
        <div class="formRequest__mainForm__content--input">
          <b>Tool name</b>
          <input
            pInputText
            id="tool_name"
            aria-describedby="username-help"
            [(ngModel)]="informationEdit.name" />
        </div>

        <div class="formRequest__mainForm__content--input">
          <b>Link</b>
          <input
            pInputText
            id="link"
            aria-describedby="username-help"
            [(ngModel)]="informationEdit.source" />
        </div>

        <div class="formRequest__mainForm__content--input">
          <h4>Category</h4>
          <input
            pInputText
            id="category_name"
            [disabled]="true"
            [(ngModel)]="informationEdit.category_name" />
        </div>
      </div>

      <div
        class="formRequest__mainForm__content"
        style="flex-direction: column; align-items: flex-start">
        <div class="title-user-con">
          <h4>Program Manager</h4>
        </div>
        <div
          class="formRequest__mainForm__content--threeColumns"
          style="background-color: none; border: none; padding: 0; flex-wrap: wrap">
          <div class="formRequest__mainForm__content--input">
            <h4>Design</h4>
            <p-dropdown
              [options]="optionsImportance"
              [(ngModel)]="informationEdit.PM.Designing"
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
              placeholder="Select a Thematic area">
              <ng-template pTemplate="selectedItem">
                @if (informationEdit.PM.Designing) {
                  <div class="flex align-items-center gap-2">
                    <div>{{ informationEdit.PM.Designing.name }}</div>
                  </div>
                }
              </ng-template>
            </p-dropdown>
          </div>
          <div class="formRequest__mainForm__content--input">
            <h4>Implementation</h4>
            <p-dropdown
              [options]="optionsImportance"
              [(ngModel)]="informationEdit.PM.Implementation"
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
              placeholder="Select a Thematic area">
              <ng-template pTemplate="selectedItem">
                @if (informationEdit.PM.Implementation) {
                  <div class="flex align-items-center gap-2">
                    <div>{{ informationEdit.PM.Implementation.name }}</div>
                  </div>
                }
              </ng-template>
            </p-dropdown>
          </div>
          <div class="formRequest__mainForm__content--input">
            <h4>Closure and Beyond</h4>
            <p-dropdown
              [options]="optionsImportance"
              [(ngModel)]="informationEdit.PM['Closure&Beyond']"
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
              placeholder="Select a Thematic area">
              <ng-template pTemplate="selectedItem">
                @if (informationEdit.PM['Closure&Beyond']) {
                  <div class="flex align-items-center gap-2">
                    <div>{{ informationEdit.PM['Closure&Beyond'].name }}</div>
                  </div>
                }
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>
      <div
        class="formRequest__mainForm__content"
        style="flex-direction: column; align-items: flex-start">
        <div class="title-user-con">
          <h4>Project Manager</h4>
        </div>
        <div
          class="formRequest__mainForm__content--threeColumns"
          style="background-color: none; border: none; padding: 0">
          <div class="formRequest__mainForm__content--input">
            <h4>Design</h4>
            <p-dropdown
              [options]="optionsImportance"
              [(ngModel)]="informationEdit.PJM.Designing"
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
              placeholder="Select a Thematic area">
              <ng-template pTemplate="selectedItem">
                @if (informationEdit.PJM.Designing) {
                  <div class="flex align-items-center gap-2">
                    <div>{{ informationEdit.PJM.Designing.name }}</div>
                  </div>
                }
              </ng-template>
            </p-dropdown>
          </div>
          <div class="formRequest__mainForm__content--input">
            <h4>Implementation</h4>
            <p-dropdown
              [options]="optionsImportance"
              [(ngModel)]="informationEdit.PJM.Implementation"
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
              placeholder="Select a Thematic area">
              <ng-template pTemplate="selectedItem">
                @if (informationEdit.PJM.Implementation) {
                  <div class="flex align-items-center gap-2">
                    <div>{{ informationEdit.PJM.Implementation.name }}</div>
                  </div>
                }
              </ng-template>
            </p-dropdown>
          </div>
          <div class="formRequest__mainForm__content--input">
            <h4>Monitoring and evaluations</h4>
            <p-dropdown
              [options]="optionsImportance"
              [(ngModel)]="informationEdit.PJM['Closure&Beyond']"
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
              placeholder="Select a Thematic area">
              <ng-template pTemplate="selectedItem">
                @if (informationEdit.PJM['Closure&Beyond']) {
                  <div class="flex align-items-center gap-2">
                    <div>{{ informationEdit.PJM['Closure&Beyond'].name }}</div>
                  </div>
                }
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>
      <div
        class="formRequest__mainForm__content"
        style="flex-direction: column; align-items: flex-start">
        <div class="title-user-con">
          <h4>M&amp;E Officer</h4>
        </div>
        <div
          class="formRequest__mainForm__content--threeColumns"
          style="background-color: none; border: none; padding: 0">
          <div class="formRequest__mainForm__content--input">
            <h4>Design</h4>
            <p-dropdown
              [options]="optionsImportance"
              [(ngModel)]="informationEdit['M&EO'].Designing"
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
              placeholder="Select a Thematic area">
              <ng-template pTemplate="selectedItem">
                @if (informationEdit['M&EO'].Designing) {
                  <div class="flex align-items-center gap-2">
                    <div>{{ informationEdit['M&EO'].Designing.name }}</div>
                  </div>
                }
              </ng-template>
            </p-dropdown>
          </div>
          <div class="formRequest__mainForm__content--input">
            <h4>Implementation</h4>
            <p-dropdown
              [options]="optionsImportance"
              [(ngModel)]="informationEdit['M&EO'].Implementation"
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
              placeholder="Select a Thematic area">
              <ng-template pTemplate="selectedItem">
                @if (informationEdit['M&EO'].Implementation) {
                  <div class="flex align-items-center gap-2">
                    <div>{{ informationEdit['M&EO'].Implementation.name }}</div>
                  </div>
                }
              </ng-template>
            </p-dropdown>
          </div>
          <div class="formRequest__mainForm__content--input">
            <h4>Closure and Beyond</h4>
            <p-dropdown
              [options]="optionsImportance"
              [(ngModel)]="informationEdit['M&EO']['Closure&Beyond']"
              optionLabel="name"
              [showClear]="true"
              [style]="{ width: '100%' }"
              placeholder="Select a Thematic area">
              <ng-template pTemplate="selectedItem">
                @if (informationEdit['M&EO']['Closure&Beyond']) {
                  <div class="flex align-items-center gap-2">
                    <div>{{ informationEdit['M&EO']['Closure&Beyond'].name }}</div>
                  </div>
                }
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>

    <div class="formRequest__mainForm__steps" style="justify-content: flex-end; margin-right: 14px">
      <button
        pButton
        type="button"
        label="Edit tool"
        class="formRequest__mainForm__steps--button"
        style="color: white"
        (click)="editTool()"></button>
    </div>
  }
</p-dialog>

<p-dialog
  [(visible)]="isSaving"
  [modal]="true"
  [style]="{ width: '10vw' }"
  [draggable]="false"
  [closable]="false"
  [resizable]="false">
  <ng-template pTemplate="headless">
    <div
      style="
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 2rem 4rem;
        border-radius: 1rem;
      ">
      <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="enableDisabledModalOpen"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [closable]="false"
  [resizable]="false">
  <div
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 16px;
    ">
    <div>
      <p>
        Are you sure you want to <b>{{ activeItem.id === '0' ? 'deactivate' : 'activate' }}</b> this
        tool?
      </p>
    </div>
    <div style="margin-top: 20px">
      <button
        pButton
        label="Cancel"
        (click)="enableDisabledModalOpen = false"
        severity="danger"
        style="background-color: red; border: none; font-weight: 600"></button>

      <button
        pButton
        label="Accept"
        (click)="handleDesactive()"
        severity="success"
        style="
          background-color: rgb(0, 180, 120);
          margin-left: 10px;
          border: none;
          font-weight: 600;
        "></button>
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="acceptedModalOpen"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [closable]="false"
  [resizable]="false">
  <div
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    ">
    <div>
      <p>Are you sure you want to accepted this tool?</p>
    </div>
    <div style="margin-top: 20px">
      <button
        pButton
        label="Cancel"
        (click)="acceptedModalOpen = false"
        severity="danger"
        style="background-color: red"></button>
      <button
        pButton
        label="Accept"
        (click)="acceptRequest()"
        severity="success"
        style="background-color: rgb(0, 180, 120); margin-left: 10px"></button>
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="denyModalOpen"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [closable]="false"
  [resizable]="false">
  <div
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    ">
    <div>
      <p>Are you sure you want to refuse this tool?</p>
    </div>
    <div style="margin-top: 20px">
      <button
        pButton
        label="Cancel"
        (click)="denyModalOpen = false"
        severity="danger"
        style="background-color: red"></button>
      <button
        pButton
        label="Accept"
        (click)="denyRequest()"
        severity="success"
        style="background-color: rgb(0, 180, 120); margin-left: 10px"></button>
    </div>
  </div>
</p-dialog>
