<div class="formRequest">
  <h1 class="formRequest__title">AICCRA Tools Support Pack</h1>

  <div class="formRequest__infoCard">
    <div class="formRequest__infoCard__icon">
      <i class="pi pi-info-circle icon"></i>
    </div>

    <p>
      Please fill in the fields below to submit a tool for consideration. The tool should be
      designed to help those in the fields of climate change and agriculture development to design,
      target, implement, monitor, evaluate and/or scale activities and programmes. If we need more
      information regarding your submission we will contact you. Submitted tools will be evaluated
      for inclusion based on relevance and previous documentation.
    </p>
  </div>

  <div class="formRequest__citeriaForm" *ngIf="!dialogConfirmation">
    <h3 class="formRequest__citeriaForm--title">Before submitting your tool</h3>

    <div class="formRequest__citeriaForm__content">
      <h4>Please confirm that it complies with the following criteria:</h4>

      <ul>
        <li>The tool is fully completed and operational (not demo)</li>
        <li>The tool has been applied and its use has been documented</li>
        <li>
          Use cases and additional resources e.g manuals; guidelines; peer-reviewed papers are
          publicly available
        </li>
        <li>There is a Key reference person able to provide technical support/guidance</li>
      </ul>

      <div class="formRequest__citeriaForm__content--button">
        <p-button
          type="button"
          label="Access to related resources"
          (onClick)="dialogConfirmation = true"></p-button>
      </div>
    </div>
  </div>

  <div class="formRequest__mainForm" *ngIf="step1 && dialogConfirmation">
    <h3 class="formRequest__mainForm--title">Who is requests?</h3>

    <div class="formRequest__mainForm__content">
      <div class="formRequest__mainForm__content--input">
        <b>Full Name</b>
        <input pInputText id="full_name" aria-describedby="username-help" />
      </div>

      <div class="formRequest__mainForm__content--input">
        <b>Email</b>
        <input
          pInputText
          id="email"
          autocomplete="off"
          aria-describedby="username-help"
          [(ngModel)]="requestToolNew.email" />
      </div>
    </div>

    <h3 class="formRequest__mainForm--title">Basic Information</h3>

    <div class="formRequest__mainForm__content" style="flex-direction: column">
      <div class="formRequest__mainForm__content--input">
        <b>Tool name</b>
        <input
          pInputText
          id="tool_name"
          aria-describedby="username-help"
          [(ngModel)]="requestToolNew.name" />
      </div>

      <div class="formRequest__mainForm__content--input">
        <b>Description</b>
        <textarea
          style="resize: none"
          id="description"
          rows="5"
          pInputTextarea
          [(ngModel)]="requestToolNew.description"></textarea>
      </div>

      <div class="formRequest__mainForm__content--twoColumns">
        <div class="formRequest__mainForm__content--input">
          <b>Link</b>
          <input
            pInputText
            id="link"
            aria-describedby="username-help"
            [(ngModel)]="requestToolNew.source" />
        </div>

        <div class="formRequest__mainForm__content--input">
          <b>Estimated time to implement (excl. training)</b>
          <input
            pInputText
            id="eti"
            aria-describedby="username-help"
            [(ngModel)]="requestToolNew.estimated_time" />
        </div>
      </div>

      <div class="formRequest__mainForm__content--twoColumns">
        <div class="formRequest__mainForm__content--input">
          <b>Does the tool integrate gender?</b>

          <div class="formRequest__mainForm__content--radioContainer">
            <div class="formRequest__mainForm__content--radio">
              <p-radioButton
                name="Yes"
                value="Yes"
                [(ngModel)]="requestToolNew.integrates_gender"
                inputId="integratedGenderYes"></p-radioButton>
              <label for="integratedGenderYes">Yes</label>
            </div>

            <div class="formRequest__mainForm__content--radio">
              <p-radioButton
                name="No"
                value="No"
                [(ngModel)]="requestToolNew.integrates_gender"
                inputId="integratedGenderNo"></p-radioButton>
              <label for="integratedGenderNo">No</label>
            </div>
          </div>
        </div>

        <div class="formRequest__mainForm__content--input">
          <b>Can this tool be tested online?</b>

          <div class="formRequest__mainForm__content--radioContainer">
            <div class="formRequest__mainForm__content--radio">
              <p-radioButton
                name="Yess"
                value="Yes"
                [(ngModel)]="requestToolNew.is_tested_online"
                inputId="integratedTestedOnlineYes"></p-radioButton>
              <label for="integratedTestedOnlineYes">Yes</label>
            </div>

            <div class="formRequest__mainForm__content--radio">
              <p-radioButton
                name="Noo"
                value="No"
                [(ngModel)]="requestToolNew.is_tested_online"
                inputId="integratedTestedOnlineNo"></p-radioButton>
              <label for="integratedTestedOnlineNo">No</label>
            </div>
          </div>
        </div>
      </div>

      <div class="formRequest__mainForm__content--twoColumns">
        <div class="formRequest__mainForm__content--input">
          <b>Target Scale</b>
          <textarea
            style="resize: none"
            id="target_scale"
            rows="5"
            pInputTextarea
            [(ngModel)]="requestToolNew.target_scale"></textarea>
        </div>

        <div class="formRequest__mainForm__content--input">
          <b>Who participates?</b>
          <textarea
            style="resize: none"
            id="who_participates"
            rows="5"
            pInputTextarea
            [(ngModel)]="requestToolNew.participants"></textarea>
        </div>
      </div>

      <div class="formRequest__mainForm__content--twoColumns">
        <div class="formRequest__mainForm__content--input">
          <b>Methods used</b>
          <textarea
            style="resize: none"
            id="methods"
            rows="5"
            pInputTextarea
            [(ngModel)]="requestToolNew.methods"></textarea>
        </div>

        <div class="formRequest__mainForm__content--input">
          <b>Types of input data/information</b>
          <textarea
            style="resize: none"
            id="input_types"
            rows="5"
            pInputTextarea
            [(ngModel)]="requestToolNew.input_types"></textarea>
        </div>
      </div>

      <div class="formRequest__mainForm__content--input">
        <b>Limitations</b>
        <textarea
          style="resize: none"
          id="limitations"
          rows="5"
          pInputTextarea
          [(ngModel)]="requestToolNew.limitations"></textarea>
      </div>

      <div class="formRequest__mainForm__content--input">
        <b>Strengths</b>
        <textarea
          style="resize: none"
          id="strengths"
          rows="5"
          pInputTextarea
          [(ngModel)]="requestToolNew.strengths"></textarea>
      </div>

      <div class="formRequest__mainForm__content--twoColumns">
        <div class="formRequest__mainForm__content--input">
          <b>Expected output(s)</b>
          <textarea
            style="resize: none"
            id="expected_outputs"
            rows="5"
            cols="30"
            pInputTextarea
            [(ngModel)]="requestToolNew.expected_outputs"></textarea>
        </div>

        <div class="formRequest__mainForm__content--input">
          <b>Required human resources</b>
          <textarea
            id="required_human_resources"
            style="resize: none"
            rows="5"
            cols="30"
            pInputTextarea
            [(ngModel)]="requestToolNew.human_resources"></textarea>
        </div>
      </div>

      <div class="formRequest__mainForm__content--twoColumns">
        <div class="formRequest__mainForm__content--input">
          <b>Key reference person(s)</b>
          <textarea
            id="key_references"
            style="resize: none"
            rows="5"
            cols="30"
            pInputTextarea
            [(ngModel)]="requestToolNew.key_references"></textarea>
        </div>

        <div class="formRequest__mainForm__content--input">
          <b>Thematic area</b>
          <p-dropdown
            [options]="thematicAreasData"
            [(ngModel)]="requestToolNew.category_id"
            [style]="{ width: '100%' }"
            [virtualScroll]="true"
            [virtualScrollItemSize]="38"
            optionLabel="name"
            optionValue="id"
            placeholder="Select a Thematic area">
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="formRequest__mainForm" *ngIf="step2 && dialogConfirmation">
    <h3 class="formRequest__mainForm--title">User Profile and Project Phase relevance</h3>

    <div
      class="formRequest__mainForm__content"
      style="flex-direction: column; align-items: flex-start">
      <div class="title-user-con">
        <h4>Researcher</h4>
      </div>

      <div
        class="formRequest__mainForm__content"
        style="background-color: none; border: none; padding: 0">
        <div class="formRequest__mainForm__content--input">
          <h4>Design</h4>

          <p-dropdown
            [options]="optionsImportance"
            [(ngModel)]="requestToolNew.R.design"
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
            placeholder="Select a Thematic area"></p-dropdown>
        </div>

        <div class="formRequest__mainForm__content--input">
          <h4>Implementation</h4>
          <p-dropdown
            [options]="optionsImportance"
            [(ngModel)]="requestToolNew.R.implementation"
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
            placeholder="Select a Thematic area"></p-dropdown>
        </div>

        <div class="formRequest__mainForm__content--input">
          <h4>Monitoring and evaluations</h4>
          <p-dropdown
            [options]="optionsImportance"
            [(ngModel)]="requestToolNew.R.monitoring"
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
            placeholder="Select a Thematic area"></p-dropdown>
        </div>
      </div>
    </div>

    <div
      class="formRequest__mainForm__content"
      style="flex-direction: column; align-items: flex-start">
      <div class="title-user-con">
        <h4>Technical staff</h4>
      </div>

      <div
        class="formRequest__mainForm__content"
        style="background-color: none; border: none; padding: 0">
        <div class="formRequest__mainForm__content--input">
          <h4>Design</h4>
          <p-dropdown
            [options]="optionsImportance"
            [(ngModel)]="requestToolNew.TS.design"
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
            placeholder="Select a Thematic area"></p-dropdown>
        </div>

        <div class="formRequest__mainForm__content--input">
          <h4>Implementation</h4>
          <p-dropdown
            [options]="optionsImportance"
            [(ngModel)]="requestToolNew.TS.implementation"
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
            placeholder="Select a Thematic area"></p-dropdown>
        </div>

        <div class="formRequest__mainForm__content--input">
          <h4>Monitoring and evaluations</h4>
          <p-dropdown
            [options]="optionsImportance"
            [(ngModel)]="requestToolNew.TS.monitoring"
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
            placeholder="Select a Thematic area"></p-dropdown>
        </div>
      </div>
    </div>

    <div
      class="formRequest__mainForm__content"
      style="flex-direction: column; align-items: flex-start">
      <div class="title-user-con">
        <h4>Academia</h4>
      </div>

      <div
        class="formRequest__mainForm__content"
        style="background-color: none; border: none; padding: 0">
        <div class="formRequest__mainForm__content--input">
          <h4>Design</h4>
          <p-dropdown
            [options]="optionsImportance"
            [(ngModel)]="requestToolNew.A.design"
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
            placeholder="Select a Thematic area"></p-dropdown>
        </div>

        <div class="formRequest__mainForm__content--input">
          <h4>Implementation</h4>
          <p-dropdown
            [options]="optionsImportance"
            [(ngModel)]="requestToolNew.A.implementation"
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
            placeholder="Select a Thematic area"></p-dropdown>
        </div>

        <div class="formRequest__mainForm__content--input">
          <h4>Monitoring and evaluations</h4>
          <p-dropdown
            [options]="optionsImportance"
            [(ngModel)]="requestToolNew.A.monitoring"
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
            placeholder="Select a Thematic area"></p-dropdown>
        </div>
      </div>
    </div>

    <div
      class="formRequest__mainForm__content"
      style="
        flex-direction: column;
        align-items: flex-start;
        background: none;
        border: none;
        padding: 0;
      ">
      <div class="title-sub">
        <h3>Resources</h3>
      </div>

      <div
        *ngFor="let item of requestToolNew.resource; let i = index"
        class="formRequest__mainForm__content"
        style="flex-direction: column; position: relative">
        <!-- delete btn  -->
        <p-button
          icon="pi pi-trash"
          [style]="{
            position: 'absolute',
            right: '-1px',
            top: '-1px'
          }"
          (onClick)="deleteResource(i)"
          severity="danger"
          *ngIf="requestToolNew.resource.length > 1"></p-button>

        <div class="formRequest__mainForm__content--input">
          <b>Resource title</b>
          <input
            pInputText
            id="resource_title"
            autocomplete="off"
            aria-describedby="username-help"
            [(ngModel)]="item.name" />
        </div>

        <div class="formRequest__mainForm__content--twoColumns" style="margin-top: 1rem">
          <div class="formRequest__mainForm__content--input">
            <b>Link</b>
            <input
              pInputText
              id="link2"
              aria-describedby="username-help"
              [(ngModel)]="item.source" />
          </div>

          <div class="formRequest__mainForm__content--input">
            <h4>Category</h4>
            <p-dropdown
              [options]="categories"
              [(ngModel)]="item.type"
              [style]="{ width: '100%' }"
              [virtualScroll]="true"
              [virtualScrollItemSize]="38"
              optionValue="name"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              placeholder="Select a Thematic area">
            </p-dropdown>
          </div>
        </div>
      </div>

      <button
        pButton
        label="Other Resource"
        (click)="aditionalResource()"
        rounded="true"
        style="background-color: #1f46f2; border-radius: 30px; margin-top: 10px"
        *ngIf="requestToolNew.resource.length < 3"></button>
    </div>
  </div>

  <div class="formRequest__mainForm__steps" *ngIf="dialogConfirmation">
    <button
      pButton
      label="1"
      rounded="true"
      class="formRequest__mainForm__steps--button"
      [ngStyle]="{ 'background-color': step1 ? '#f2971f' : '#ffebd2' }"
      (click)="button1Validations()"></button>

    <button
      pButton
      label="2"
      rounded="true"
      class="formRequest__mainForm__steps--button"
      [ngStyle]="{ 'background-color': step2 ? '#f2971f' : '#ffebd2' }"
      (click)="button2Validations()"></button>

    <button
      pButton
      *ngIf="step2"
      type="button"
      label="Submit"
      class="formRequest__mainForm__steps--button"
      style="background-color: #f2971f"
      (click)="postRequestTool()"></button>
  </div>
</div>

<p-dialog
  [(visible)]="loadingSave"
  [modal]="true"
  [style]="{ width: '10vw' }"
  [draggable]="false"
  [closable]="false"
  [resizable]="false">
  <div style="width: 100%; display: flex; align-items: center; justify-content: center">
    <img src="../../../../assets/loading.gif" alt="" style="width: 50px; height: 50px" />
  </div>
</p-dialog>
