<div class="container">

    <!--Terms and conditions -->
    <div id="step3" class="col-12" [@inOutAnimation] *ngIf="step3">
        <h3 class="headTitle">Terms and conditions</h3>
        <div id="step3-form" class="grayBox" style="   background: #f1f1f1; padding: 2em; color: #444;">
            <p [innerHtml]="this.tcText"> 
            </p>
            <form [formGroup]="emailForm" (ngSubmit)="onSetEmail()">

                <div class="row col form-group">
                    <label for="email"><b>Email:</b></label>
                    <input type="email" id="email" class="form-control" formControlName="email" required />

                </div>
                <br>
                <div class="d-flex col justify-content-between">
                    <div class="col-4 row justify-content-between">
                        <a (click)="goBackBtn()" class="download 4 btn btn-primary">
                            Go Back
                        </a>
                        <button type="submit" class="download 2 btn btn-primary" [disabled]="!emailForm.valid">
                            Next
                        </button>
                    </div>
                    <button class="col-2 skip 2 btn btn-info pull-right" >Skip</button>

                </div>
            </form>

        </div>
    </div>
    <!--end terms and conditions -->

    <!--Terms and conditions next-->
    <div id="step4" class="col-12" [@inOutAnimation] *ngIf="step4">
        <h3 class="headTitle">Terms and conditions</h3>
        <div id="step4-form" class="grayBox" style="background: #f1f1f1; padding: 2em; color: #444;">

            <form [formGroup]="tc_Form" (ngSubmit)="onSetTC()">
                <div class="form-group">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for='first_name'>First name:
                                <input type="text" id="first_name" class="form-control" formControlName="first_name"
                                    required />
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label for='last_name'>Last name:
                                <input type="text" id="last_name" class="form-control" formControlName="last_name"
                                    required />
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for='institute_name'>Institute name:
                            <input type="text" id="institute_name" class="form-control" formControlName="institute_name"
                                required />
                        </label>
                    </div>

                    <div class="form-goup row">
                        <div class="col-sm-6">
                            <h5 class="headTitle">Region(s) of your research interest: </h5>
                            <div *ngFor="let region of regions; let index = i">
                                <div class="inputsFlat">
                                    <input type="checkbox" (change)="onCheckboxChange($event, 'research_regions')"
                                        id="region-research-{{region.id}}" [value]="region.id" name="reserch-regions">
                                    <label class="checkbox-label">
                                        {{region.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="headTitle">Region(s) where your institute is located: </h5>
                            <div *ngFor="let region of regions; let index = i">
                                <div class="inputsFlat">
                                    <input type="checkbox" (change)="onCheckboxChange($event, 'institute_regions')"
                                        id="locations-{{region.id}}" [value]="region.id" name="locations-regions">
                                    <label class="checkbox-label">
                                        {{region.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="use">Intended use of data: </label>
                        <textarea id="use" class="form-control" name="use" formControlName="use" cols="70" rows="3"
                            required></textarea>
                    </div>
                </div>
                <br>
                <div class="d-flex col justify-content-between">
                    <div class="col-3 row justify-content-between">
                        <button type="submit" class="download 2 btn btn-primary" [disabled]="!tc_Form.valid">
                            Next
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--end terms and conditions next-->



    <!--Download step-->
    <div id="step5" class="col-12" [@inOutAnimation] *ngIf="step5">
        <h3 class="headTitle">Download</h3>
        <div id="result">
            <div id="guidelines">
                <ul *ngFor="let guide of selectedGuidiline">
                    <li class="guideline type-{{isYoutube(guide.source)}} ">
                        <p (click)="openFile(guide, content)" style="margin-bottom: 0; cursor: pointer;">
                            <!-- <p (click)="openFile(guide, content)" style="margin-bottom: 0; cursor: pointer;"> -->
                            <b>
                                {{guide.name}}
                            </b>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <!-- <div class="col-6 row justify-content-between">
                <button type="submit" class="download 2 btn btn-primary" (click)="downloadFiles()">
                    Download [<span class="nfiles">{{selectedGuidiline.length}}</span>] Files
                </button>

            </div> -->
            <button class="download col-2 btn btn-info" (click)="goBackBtn()">
                Go back
            </button>
        </div>
        <ngx-spinner></ngx-spinner>
    </div>

    <!-- error message -->
    <div *ngIf="error" class="row align-items-center" style="height: 300px;">
        <div id='error' class="col" >
            {{this.error}}
            <p>Please contact the support pack team at <a href="mailto:f.elvira@cgiar.org">f.elvira@cgiar.org</a></p>
        </div>

    </div>



</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{selectedFile.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <!-- {{safeURL(selectedFile.source) }} -->
            <!-- {{safeURL(selectedFile.source).changingThisBreaksApplicationSecurity }} -->
            <!-- <iframe src='{{safeURL(selectedFile.source)}}' frameborder="0" allowfullscreen></iframe> -->
            <!-- <iframe *ngIf="isYoutube(selectedFile.source)" [src]='safeURL(selectedFile.source)' frameborder="0" allowfullscreen></iframe> -->
            <!-- [viewerUrl]="https://docs.google.com/gview?url=%URL%&embedded=true" -->
            <!-- <iframe src="https://docs.google.com/gview?url=https://dmsp.ccafs.cgiar.org/data/1_Policy_Documents/2015-06_CCAFS_Data_Management_Strategy.pdf"></iframe> -->
            <!-- <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=https://dmsp.ccafs.cgiar.org/data/1_Policy_Documents/2015-06_CCAFS_Data_Management_Strategy.pdf'
                width='1366px' height='623px' frameborder='0'>This is an embedded <a target='_blank'
                    href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank'
                    href='http://office.com/webapps'>Office Online</a>.</iframe> -->
            <!-- <ngx-doc-viewer 
                [url]="safeURL(selectedFile.source)" viewer="url" style="width:100%;height:50vh;">
            </ngx-doc-viewer> -->
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" (click)="modal.close(selectedFile.source)">Source</button>
    </div>
</ng-template>