.body-dmsp{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    width: 100%;
    //background-color: aqua;
}

.filters{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    height: 10%;
    width: 100%;
    margin-bottom: 30px;
    //margin-top: 40px;
    .who-are{
        display: flex;
        flex-direction: column;
        .flex{
            display: flex;
            flex-direction: row;
            align-items: center; 
            
        }
    }

    .where-are{
        display: flex;
        flex-direction: column;
        .flex{
            display: flex;
            flex-direction: row;
            align-items: center; 
            
        }
    }

    .what{
        display: flex;
        flex-direction: column;
        .flex{
            display: flex;
            flex-direction: row;
            align-items: center; 
            
        }
    
    }
}

:host ::ng-deep .where-are .p-dropdown .p-dropdown-label.p-placeholder {
    color: white;
}
:host ::ng-deep .where-are .p-inputtext{
    color: white;
}
:host ::ng-deep .what .p-dropdown .p-dropdown-label.p-placeholder{
    color: white;
}

:host ::ng-deep .what .p-inputtext{
    color: white;
}

.results{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    //background-color: #f1f1f1;
    .not-filters{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .filter-on{
        padding: 30px;
        .important{
            background-color: #f1f1f1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 1px;
            .color-i{
                background-color: red;
                width: 10px;
                height: 10px;
                border-radius: 100px; 
                margin-right: 10px;
            }
            .numOne{
                background-color: #c0504d;
            }
            
            .numTwo{
                background-color: #da9694;
            }
            .numTre{
                background-color: #e6b8b7;
            }
            
            .numFour{
                background-color: #d6d6d6;
            }
        }
    }
    }

.dowloand-tools{
    padding: 30px;
    .important{
        background-color: #f1f1f1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1px;
        .color-i{
            background-color: red;
            width: 10px;
            height: 10px;
            border-radius: 100px; 
            margin-right: 10px;
        }
        .numOne{
            background-color: #c0504d;
        }
        
        .numTwo{
            background-color: #c0504d;
        }
        .numTre{
            background-color: #e6b8b7;
        }
        
        .numFour{
            background-color: #d6d6d6;
        }
    }
}


.dmsp-old{
    display: grid;
    grid-template-columns: 70% 30%;
    padding:40px;
    height: 100%;
    gap: 20px;
    .colOne{
        
        display: flex;
        flex-direction: column;
        .filters{
            
            display: grid;
            height: auto;
            grid-template-columns: 45% 55%;
            gap: 10px;
            .roles{
                
                .buttons-rol{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    background-color: #f1f1f1;
                    border: none;
                    width: 100%;
                    font-size: 15px;
                    &:hover{
                        background-color: #e6e6e6;
                        font-weight: bold;

                        cursor: pointer;
                    }
                    .imagen-rol{
                        width: 32%;
                        margin-right: 20px;
                    }
                    .active{
                        background-color: #e6e6e6;
                        font-weight: bold;
                    }
                }
            }
            .stages{
                
                .stage-buttons{
                    width: 98%;
                    height: 90%;
                    background-color: #f1f1f1;
                    padding: 20px;
                }.button-stage{
                    width: 100%;
                    margin-bottom: 10px;
                    .buttons-stage{
                        width: 100%;
                        padding: 0;
                        border: 0;
                        &:hover{
                           
                            font-weight: bold;
    
                            cursor: pointer;
                        }
                        .sub-section-button{
                            display: flex;
                            flex-direction: row;
                            justify-content: left;
                            .seccionOne{
                                width: 50px;
                                height: auto;
                                background-color: #10759a;
                                color: white;
                                font-weight: bold;
                            }
                            .sectionTwo{
                                width: 100%;
                                height: auto;
                                background-color: #1281aa;
                                padding: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: left;
                                align-items: left;
                                color: white;
                                
                            }
                        }
                    }
                }
            }
        }
    }
    .colTwo{
        display: flex;
        flex-direction: column;
        .what{
                
            .what-buttons{
                width: 98%;
                height: 90%;
                background-color: #f1f1f1;
                padding: 20px;
            }.button-what{
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.7 ;
                &.selected{ 
                    font-weight: bold;
                    opacity: 1 !important;
                }
                .buttons-what{
                    width: 100%;
                    padding: 0;
                    border: 0;
                    
                    &:hover{
                        font-weight: bold;
                        cursor: pointer;
                    }
                    &:visited{
                        font-weight: bold;
                    }
                    .sub-section-button{
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        .seccionOne{
                            width: 50px;
                            height: auto;
                            background-color: #3e8087;
                            color: white;
                            font-weight: bold;
                        }
                        .sectionTwo{
                            width: 100%;
                            height: auto;
                            background-color: #47939c;
                            padding: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: left;
                            align-items: left;
                            color: white;
                            
                        }
                    }
                }
            }
        }
    }
}