* {
    margin: 0;
    box-sizing: border-box;
}

.side-menu-container {
    height: 100vh;
    width: 350px;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 1em;
    .logo-container {
        background-color: #fff;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 75%;
        }
    }

    .filters{
        height: calc(100vh - 350px);
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .filter{
            width: 100%;
            margin-bottom: 2em;
            display: flex; 
            flex-direction: column;
            align-items: center;
            p{
                color: #fff;
                font-size: 20px;
                align-self: flex-start;
                margin-bottom: .5em;
            }
            .dropdown {
                color: var(--darkText);
                width: 100%;
                button{
                    width: 100%;
                }
                .dropdown-menu {
                    width: auto;
                    border: none;
                    margin-left: 0.1em;
                    padding: 0;
                    button{
                        padding: 0.25em 0.5em;
                        outline: none;
                        // border-radius: .25rem;
                        &:hover{
                            background-color: whitesmoke;
                        }
                        border-bottom: 1px solid #f3f3f3
                    }
                }

                .btn-filter {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1em;
                    .filter-text{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        padding: 0.5em 1em;
                        font-weight: 500;
                        padding: 0;
                    }
                }
            }
        }
    }
}