<p-dialog
  header="Login"
  [(visible)]="dialogLogin"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [closable]="false"
  [resizable]="false">
  <div
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    ">
    <div>
      <div class="flex flex-column gap-2 inputs inputs-basic">
        <label htmlFor="name" class="bold">Email</label>
        <input
          pInputText
          id="email"
          aria-describedby="username-help"
          [(ngModel)]="loginForm.email" />
      </div>
      <div class="flex flex-column gap-2 inputs inputs-basic">
        <label htmlFor="email" class="bold">Password</label>
        <input
          pInputText
          id="password"
          type="password"
          aria-describedby="username-help"
          [(ngModel)]="loginForm.password" />
      </div>
    </div>
    <div style="margin-top: 20px">
      <button
        pButton
        label="Login"
        (click)="login()"
        severity="success"
        style="background-color: rgb(0, 180, 120); margin-right: 10px"></button>
      <button
        pButton
        label="Cancel"
        (click)="redirecto()"
        severity="danger"
        style="background-color: red"></button>
    </div>
  </div>
</p-dialog>

<div class="admin" *ngIf="dialogLogin == false">
  <div class="quit">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-sign-out"
      label="Sign out"
      class="p-button-rounded p-button-text"
      (click)="setlocalStorageToken()"></button>
  </div>
  <div class="title-admin">
    <h1>Manage Tool</h1>
  </div>

  <div class="body-admin">
    <div class="card" style="margin-top: 30px">
      <p-tabMenu
        [model]="items"
        [activeItem]="activeItem"
        (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
    </div>

    <div class="edit-tool" *ngIf="activeItem.id == 0">
      <div class="body-edit">
        <p-table
          [value]="customers"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '40rem' }"
          [rowsPerPageOptions]="[10, 25, 50]"
          [loading]="loading">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr>
              <td>{{ customer.id }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.category_name }}</td>
              <td style="display: flex; flex-direction: row">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-text"
                  (click)="showDialog(customer)"></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-text"
                  (click)="showDialogDesactive(customer)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="request-tool" *ngIf="activeItem.id == 1">
      <app-tool-inactive></app-tool-inactive>
    </div>

    <div class="request-new-tool" *ngIf="activeItem.id == 2">
      <app-request-tool></app-request-tool>
    </div>
  </div>
</div>

<p-dialog
  header="Edit Tool"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [draggable]="false"
  [resizable]="false">
  <div class="body-dialog">
    <div class="content-form" *ngIf="step1 == true && visible == true">
      <div class="basic-info">
        <div class="title-sub">
          <h3>Basic Information</h3>
        </div>
        <div class="content-form-basic content-form-g">
          <div class="flex flex-column gap-2 inputs inputs-basic">
            <label htmlFor="name" class="bold">Tool name</label>
            <input
              pInputText
              id="tool-name"
              aria-describedby="username-help"
              [(ngModel)]="informationEdit.name" />
          </div>
          <div class="flex flex-column gap-2 inputs inputs-basic">
            <label htmlFor="email" class="bold">Description</label>
            <textarea rows="5" pInputTextarea [(ngModel)]="informationEdit.description"></textarea>
          </div>

          <div class="two-content">
            <div class="flex flex-column gap-2 inputs input-two">
              <label htmlFor="name" class="bold">Link</label>
              <input
                pInputText
                id="link"
                aria-describedby="username-help"
                [(ngModel)]="informationEdit.source" />
            </div>
            <div class="flex flex-column gap-2 inputs input-two">
              <label htmlFor="email" class="bold"
                >Estimated time to implement (excl. training)</label
              >
              <input
                pInputText
                id="estimated-time"
                aria-describedby="username-help"
                [(ngModel)]="informationEdit.estimated_time" />
            </div>
          </div>
          <div class="two-content">
            <div style="width: 50%">
              <div><label htmlFor="ask" class="bold">Does the tool integrate gender?</label></div>
              <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center">
                  <p-radioButton
                    name="Yes"
                    value="Yes"
                    [(ngModel)]="informationEdit.integrates_gender"
                    inputId="Yes"></p-radioButton>
                  <label for="ingredient1" class="ml-2">Yes</label>
                </div>

                <div class="flex align-items-center">
                  <p-radioButton
                    name="No"
                    value="No"
                    [(ngModel)]="informationEdit.integrates_gender"
                    inputId="No"></p-radioButton>
                  <label for="ingredient2" class="ml-2">No</label>
                </div>
              </div>
            </div>
            <div style="width: 50%">
              <div><label htmlFor="ask" class="bold">Can this tool be tested online?</label></div>
              <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center">
                  <p-radioButton
                    name="Yess"
                    value="Yes"
                    [(ngModel)]="informationEdit.is_tested_online"
                    inputId="Yess"></p-radioButton>
                  <label for="ingredient3" class="ml-2">Yes</label>
                </div>

                <div class="flex align-items-center">
                  <p-radioButton
                    name="Noo"
                    value="No"
                    [(ngModel)]="informationEdit.is_tested_online"
                    inputId="Noo"></p-radioButton>
                  <label for="ingredient4" class="ml-2">No</label>
                </div>
              </div>
            </div>
          </div>

          <div class="two-content">
            <div class="flex flex-column gap-2 inputs input-two">
              <label htmlFor="name" class="bold">Target Scale</label>
              <textarea
                rows="5"
                pInputTextarea
                [(ngModel)]="informationEdit.target_scale"></textarea>
            </div>
            <div class="flex flex-column gap-2 inputs input-two">
              <label htmlFor="email" class="bold">Who participates?</label>
              <textarea
                rows="5"
                pInputTextarea
                [(ngModel)]="informationEdit.participants"></textarea>
            </div>
          </div>
          <div class="two-content">
            <div class="flex flex-column gap-2 inputs input-two">
              <label htmlFor="name" class="bold">Methods used</label>
              <textarea rows="5" pInputTextarea [(ngModel)]="informationEdit.methods"></textarea>
            </div>
            <div class="flex flex-column gap-2 inputs input-two">
              <label htmlFor="email" class="bold">Types of input data/information</label>
              <textarea
                rows="5"
                pInputTextarea
                [(ngModel)]="informationEdit.input_types"></textarea>
            </div>
          </div>
          <div class="flex flex-column gap-2 inputs inputs-basic">
            <label htmlFor="name" class="bold">Limitations</label>
            <textarea rows="5" pInputTextarea [(ngModel)]="informationEdit.limitations"></textarea>
          </div>
          <div class="flex flex-column gap-2 inputs inputs-basic">
            <label htmlFor="name" class="bold">Strengths</label>
            <textarea rows="5" pInputTextarea [(ngModel)]="informationEdit.strengths"></textarea>
          </div>
          <div class="two-content">
            <div class="flex flex-column gap-2 inputs input-two">
              <label htmlFor="name" class="bold">Expected output(s)</label>
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                [(ngModel)]="informationEdit.expected_outputs"></textarea>
            </div>
            <div class="flex flex-column gap-2 inputs input-two">
              <label htmlFor="email" class="bold">Required human resources</label>
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                [(ngModel)]="informationEdit.human_resources"></textarea>
            </div>
          </div>
          <div class="two-content">
            <div class="flex flex-column gap-2 inputs input-two">
              <label htmlFor="name" class="bold">Key reference person(s)</label>
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                [(ngModel)]="informationEdit.key_references"></textarea>
            </div>
            <div class="card flex justify-content-center inputs input-two">
              <h4>Thematic area</h4>
              <p-dropdown
                [options]="thematicAreas"
                [(ngModel)]="selectCategory[0]"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="selectCategory[0]">
                    <div>{{ selectCategory[0].name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-form" *ngIf="step2 && visible == true">
      <div class="who-request">
        <div class="title-sub-user">
          <h3>User Profile and Project Phase relevance</h3>
        </div>
        <div class="content-form-user content-form-g">
          <div class="title-user-con">
            <h4>Researcher</h4>
          </div>
          <div class="content-form-u">
            <div class="card flex justify-content-center inputs input-two">
              <h4>Design</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.R.Design"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="informationEdit.R.Design">
                    <div>{{ informationEdit.R.Design.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>

            <div class="card flex justify-content-center inputs input-two">
              <h4>Implementation</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.R.Implementation"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  <div
                    class="flex align-items-center gap-2"
                    *ngIf="informationEdit.R.Implementation">
                    <div>{{ informationEdit.R.Implementation.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="card flex justify-content-center inputs input-two">
              <h4>Monitoring and evaluations</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.R.MonitoringandEvaluation"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  <div
                    class="flex align-items-center gap-2"
                    *ngIf="informationEdit.R.MonitoringandEvaluation">
                    <div>{{ informationEdit.R.MonitoringandEvaluation.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="content-form-user content-form-g">
          <div class="title-user-con">
            <h4>Technical staff</h4>
          </div>
          <div class="content-form-u">
            <div class="card flex justify-content-center inputs input-two">
              <h4>Design</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.TS.Design"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="informationEdit.TS.Design">
                    <div>{{ informationEdit.TS.Design.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="card flex justify-content-center inputs input-two">
              <h4>Implementation</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.TS.Implementation"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  <div
                    class="flex align-items-center gap-2"
                    *ngIf="informationEdit.TS.Implementation">
                    <div>{{ informationEdit.TS.Implementation.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="card flex justify-content-center inputs input-two">
              <h4>Monitoring and evaluations</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.TS.MonitoringandEvaluation"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  <div
                    class="flex align-items-center gap-2"
                    *ngIf="informationEdit.TS.MonitoringandEvaluation">
                    <div>{{ informationEdit.TS.MonitoringandEvaluation.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="content-form-user content-form-g">
          <div class="title-user-con">
            <h4>Academia</h4>
          </div>
          <div class="content-form-u">
            <div class="card flex justify-content-center inputs input-two">
              <h4>Design</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.A.Design"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="informationEdit.A.Design">
                    <div>{{ informationEdit.A.Design.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="card flex justify-content-center inputs input-two">
              <h4>Implementation</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.A.Implementation"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  <div
                    class="flex align-items-center gap-2"
                    *ngIf="informationEdit.A.Implementation">
                    <div>{{ informationEdit.A.Implementation.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="card flex justify-content-center inputs input-two">
              <h4>Monitoring and evaluations</h4>
              <p-dropdown
                [options]="optionsImportance"
                [(ngModel)]="informationEdit.A.MonitoringandEvaluation"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  <div
                    class="flex align-items-center gap-2"
                    *ngIf="informationEdit.A.MonitoringandEvaluation">
                    <div>{{ informationEdit.A.MonitoringandEvaluation.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="basic-info" *ngIf="informationEdit.resources.length > 0">
        <div class="title-sub">
          <h3>Resources</h3>
        </div>
        <div
          class="content-form-user content-form-g"
          *ngFor="let item of informationEdit.resources">
          <div class="flex flex-column gap-2 inputs inputs-basic">
            <label htmlFor="name" class="bold">Resource title</label>
            <input
              pInputText
              id="resource-title"
              aria-describedby="username-help"
              [(ngModel)]="item.name" />
          </div>
          <div class="two-content">
            <div class="flex flex-column gap-2 inputs input-two">
              <label htmlFor="name" class="bold">Link</label>
              <input
                pInputText
                id="link2"
                aria-describedby="username-help"
                [(ngModel)]="item.source" />
            </div>
            <div class="card flex justify-content-center inputs input-two">
              <h4>Category</h4>
              <p-dropdown
                [options]="categories"
                [(ngModel)]="item.type"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Thematic area">
                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="item.type">
                    <div>{{ item.type.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="steps">
      <div class="step-1">
        <button
          pButton
          label="1"
          rounded="true"
          style="background-color: #f2971f; border-radius: 30px"
          *ngIf="step1 == true"></button>
        <button
          pButton
          label="1"
          rounded="true"
          style="background-color: #ffebd2; border-radius: 30px; color: black"
          *ngIf="step1 == false"
          (click)="step2 = false; step1 = true"></button>
      </div>
      <div class="step-2">
        <button
          pButton
          label="2"
          rounded="true"
          style="background-color: #ffebd2; border-radius: 30px; color: black"
          *ngIf="step2 == false"
          (click)="step2 = true; step1 = false"></button>
        <button
          pButton
          label="2"
          rounded="true"
          style="background-color: #f2971f; border-radius: 30px"
          *ngIf="step2 == true"
          (click)="step2 = true; step1 = false"></button>
      </div>
    </div>

    <div *ngIf="step2" style="display: flex; align-items: center; justify-content: center">
      <button
        pButton
        type="button"
        label="Edit tool"
        style="background-color: #f2971f; border-radius: 30px; width: 50%; margin: 20px"
        (click)="postTool()"></button>
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="loadingSave"
  [modal]="true"
  [style]="{ width: '10vw' }"
  [draggable]="false"
  [closable]="false"
  [resizable]="false">
  <div style="width: 100%; display: flex; align-items: center; justify-content: center">
    <img src="../../../../assets/loading.gif" style="width: 50px; height: 50px" />
  </div>
</p-dialog>

<p-dialog
  [(visible)]="confirmDesactive"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [closable]="false"
  [resizable]="false">
  <div
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    ">
    <div>
      <p>Are you sure you want to desactive this tool?</p>
    </div>
    <div style="margin-top: 20px">
      <button
        pButton
        label="Acept"
        (click)="desactive()"
        severity="success"
        style="background-color: rgb(0, 180, 120); margin-right: 10px"></button>
      <button
        pButton
        label="Cancel"
        (click)="confirmDesactive = false"
        severity="danger"
        style="background-color: red"></button>
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="error"
  [modal]="true"
  [style]="{ width: '20vw' }"
  [draggable]="false"
  [resizable]="false">
  <div style="width: 100%; display: flex; align-items: center; justify-content: center">
    <h3>Error, Incorrect email or password</h3>
  </div>
</p-dialog>
