
.container{
    // margin: 0;
    
    .welcome{
        margin-bottom: 1em;
    }
    h1{
        font-weight: bold;
    }
    h2, h3, h4, h5, h6 {
        font-weight: 600;
    }
    // overflow-y: scroll;
    color: var(--darkText);
    padding: 3em 2em;
    p {
        text-align: justify;
    }

    section {
        margin-top: 1em;
    }
    .description{
         .question {
            width: 100%;
            outline: none !important;
            box-shadow: none !important;
            color: #0e153a !important;
            font-weight: 600 !important;
        }
    }

    .require-search {
        border-radius: 10px;
        background-color: var(--lightGray);
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 24px;
        }
        .icons {
            width: 100%;
            display: flex;
            justify-content: center;
            fa-icon {
                margin: 0 1.5em;
                font-size: 3em;
            }
        }
    }
}

.btn-expand{
    outline: none !important;
    box-shadow: none;
}

.accordion-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results{
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
}

.resources-list{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em 2em;
    width: 100%;
    .resource {
        background-color: #EFEFEF;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        .resource-name{
            padding: 0.5em;
        }
        .resource-type{
            display: flex;
            align-items: center;
            font-weight: 600;
            width: auto;
            background-color: #98d4dc;
            padding: 0 1em;
        }
    }
}

.icon-folder-files {
    content: url('./../../../assets/svg/folder_files.svg');
    width: 40%;
    // height: 200px;
}